# Install:           sudo cp emergencypager.service /etc/systemd/system/ && sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable emergencypager.service
# Start:             sudo systemctl start emergencypager.service
# Check status:      systemctl status emergencypager.service
# Read logs:         journalctl -f -u emergencypager.service

[Unit]
Description=Emergency Pager

[Service]
Type=notify
ExecStart=/opt/emergencypager/emergencypager
WorkingDirectory=/opt/emergencypager/
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target