# Copy this file to /etc/systemd/system/
#
# Install:           sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable uptimepager.service
# Start:             sudo systemctl start uptimepager.service
# Check status:      systemctl status uptimepager.service
# Read logs:         journalctl -f -u uptimepager.service

[Unit]
Description=UptimePager

[Service]
Type=notify
ExecStart=/opt/uptimepager/uptimepager
WorkingDirectory=/opt/uptimepager/
Restart=on-failure

[Install]
WantedBy=multi-user.target